/*———————— Imported external styles ————————*/

@import url("./custom_property.css");
@import url("./theme_mode.css");
@import url("./flexbox.css");

/*———————— Font family styles ————————*/

/* @font-face {
    font-family: 'Exo 2';
    src:url('./assets/fonts/Exo2.woff2') format('woff2'),
        url('./assets/fonts/Exo2.woff') format('woff'),
        url('./assets/fonts/Exo2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/*———————— Formatted styles ————————*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*———————— Browser interface styles ————————*/

::-webkit-scrollbar {
    background-color: var(--primary-color);
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-4);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color-2)
}

::selection {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/*———————— Element styles ————————*/

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: var(--space-200);
    max-width: 1100px;
    color: var(--tx-color-1);
    background-color: var(--secondary-color);
    gap: var(--space-100);

    @media (max-width: 600px) {
        height: 100%;
    }
}

main {
    display: grid;
    grid-template-columns: 245px 2fr;
    gap: var(--space-100);
    height: 100%;

    @media (max-width: 900px) {
        grid-template-columns: 1fr 2fr;
    }

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        .devices-content {
            grid-template-columns: 1fr;
        }
    }
}

main > section {
    background-color: var(--primary-color);
    width: 100%;
    padding: var(--space-200);
    border-radius: var(--space-200);
    
    @media (max-width: 600px) {
        border-radius: var(--radius-1);
        padding: var(--space-150);
    }
}

footer {
    text-align: right;
}

svg {
    width: 36px;
    height: 36px;
    color: var(--tx-color-2);
}

hr {
    border: var(--solid-1) var(--bg-color-3);
    margin-block: 1em;
    opacity: .2;
}

input {
    border: 0;
    background-color: transparent;
    color: var(--tx-color-1);
    &:focus {
        border: 0;
        outline: 0;
    }
}

a {
    color: var(--accent-color);
    &:visited {
        color: var(--accent-color);
    }
}

/*———————— Class styles ————————*/

.NX {
    display: flex;
    align-items: end;
    span {
        margin: var(--space-025) var(--space-050);
    }
}

.opacity-04 {
    opacity: .4;
}

.section-content-dad {
    overflow: hidden;
}

.section-content {
    max-height: 50vh;
    min-height: calc(90% - var(--space-200));
    
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
        max-height: 80vh;
    }
}

.section-content h2 {
    margin-bottom: var(--space-075);
}

.restaurant-data-list {
    gap: var(--space-050);
    svg {
        margin-right: var(--space-050);
        width: var(--size-4);
        min-width: max-content;
        height: var(--size-4);
        color: var(--tx-color-1);
    }
}

.btn {
    background-color: var(--bg-color-1);
    padding: 6px 16px;
    text-decoration: none;
    border-radius: var(--radius-2);
    color: var(--tx-color-1);
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
        background-color: var(--accent-color);
    }
}

.tooltip {
    font-size: var(--size-2);
    color: var(--tx-color-3);
    /* background-color: var(--secondary-color); */
    padding: var(--space-025);
    border-radius: var(--radius-4);
    display: inline-block;
    width: max-content;
    margin-bottom: var(--space-025);
}

.input-text-icon {
    border: var(--solid-1) var(--bg-color-1);
    background-color: var(--secondary-color);
    padding: var(--space-050) var(--space-100) var(--space-050) var(--space-050);
    border-radius: var(--radius-3);
    &:has(:focus) {
        border: var(--solid-1) var(--accent-color);
        outline: var(--solid-4) var(--bg-color-1);
    }
    &::placeholder {
        color: var(--tx-color-3);
    }
    svg {
        margin-right: var(--space-050);
        width: var(--size-4);
        height: var(--size-4);
        color: var(--tx-color-2);
    }
}

.icon-text {
    display: flex;
    width: max-content;
    svg {
        margin-right: var(--space-050);
        width: var(--size-4);
        height: var(--size-4);
    }
}

.icon-text-link {
    padding-block: var(--space-025);
    a, svg {
        color: var(--tx-color-1);
    }
    svg {
        margin-right: var(--space-050);
        width: var(--size-4);
        height: var(--size-4);
    }
    &:hover {
        a, svg {
            color: var(--accent-color);
        }
    }
}

.input-error,
.input-error:has(:focus) {
    border: var(--solid-1) var(--err-color-1);
    outline: var(--solid-4) var(--err-color-2);
}


.tools-navbar {
    display: flex;
    gap: var(--space-050);
    width: 100%;
    min-height: max-content;
    overflow-x: hidden; /* scroll */
    /* padding-bottom: var(--space-075); */

    & input[type="radio"] {
        display: none;
    }
    .item {
        padding: var(--space-075) var(--space-100);
        border-radius: 5em;
        &:hover {
            background-color: var(--bg-color-1);
        }
    }
    svg {
        width: var(--size-4);
        height: var(--size-4);
    }
    div:has(:checked) .item {
        background-color: var(--accent-color);
        & svg, span {
            color: var(--primary-color);
        }
    }

    @media (max-width: 600px) {
        .item {
            background-color: var(--bg-color-1);
            padding: var(--space-075)
        }
        svg {
            width: var(--size-6);
            height: var(--size-6);
            margin: 0;
        }
        & span {
            display: none;
        }
    }
}

[data-restaurant],
[data-devices],
[data-support]
{
    display: none;
}
header:has(input[id="1"]:checked) ~ section [data-restaurant],
header:has(input[id="2"]:checked) ~ section [data-devices],
header:has(input[id="3"]:checked) ~ section [data-support]
{
    display: block;
}

.restaurant-section > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--space-050) var(--space-050);
    border-top: var(--solid-1) var(--bg-color-4);

    span {
        margin-right: var(--space-100);
    }
    p {
        text-align: right;
    }
}

.devices-content {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--space-100);
    row-gap: var(--space-100);
    justify-content: space-around;

    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        column-gap: var(--space-200);
    }

    @media (max-width: 780px) {
        column-gap: var(--space-200);
    }
}

.devices-content div {
    display: flex;
    justify-content: center;
}

.devices-content [data-nx-copiar] svg:hover {
    color: var(--accent-color);
}


[data-nx-device] {
    
    padding: var(--space-075) var(--space-100);
    border-radius: var(--radius-4);
    border: var(--solid-1) var(--bg-color-4);
    
    & > div {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    input {
        width: 110px;
        text-align: left;
        font-size: var(--size-3);
        user-select: none;
        pointer-events: none;
    }

    svg {
        width: var(--size-6);
        cursor: pointer;
        &:active {
            color: var(--accent-color);
        }
    }

    &:hover {
        background-color: var(--bg-color-4);
    }
}

[data-support] > div {
    margin-bottom: var(--space-200);
}
